#nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px;
  z-index: 1000; /* Asegura que el menú esté por encima del contenido */
}
.frame {
  text-align: center;
  padding: 20px;
}

table {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
  background: rgba(255, 255, 255, 0.733);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

th,
td {
  padding: 12px;
  text-align: center;
}

th {
  background-color: rgba(255, 255, 255, 0.2);
}

tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.05);
}

tr:hover {
  background-color: rgba(139, 119, 0, 0.1);
}

.rank-icon {
  font-size: 20px;
}

.gold {
  color: #ffd700;
}

.silver {
  color: #c0c0c0;
}

.bronze {
  color: #cd7f32;
}

.icono-sorpresa {
  font-size: 24px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  table {
    width: 100%;
    display: block;
    overflow-x: auto;
  }

  th,
  td {
    padding: 8px;
    font-size: 14px;
  }

  h2 {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  th,
  td {
    padding: 6px;
    font-size: 12px;
  }

  h2 {
    font-size: 20px;
  }
}
